* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: "Outfit", sans-serif;
    background-image: url("    https://images3.alphacoders.com/109/1091500.jpg");
    background-size: cover;
    background-position: top center;
  }